[submodule "gum-next-core"]
	path = gum-jsx-core
	url = git@github.com:CompendiumLabs/gum-next-core
[submodule "gum-next-cli"]
	path = gum-jsx-cli
	url = git@github.com:CompendiumLabs/gum-next-cli
[submodule "gum-next-edit"]
	path = gum-jsx-edit
	url = git@github.com:CompendiumLabs/gum-next-edit
[submodule "gum-next-png"]
	path = gum-jsx-png
	url = git@github.com:CompendiumLabs/gum-next-png
[submodule "gum-next-docs"]
	path = gum-jsx-docs
	url = git@github.com:CompendiumLabs/gum-next-docs
[submodule "gum-next-math"]
	path = gum-jsx-math
	url = git@github.com:CompendiumLabs/gum-next-math
